body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.game-container {
    position: relative;
    width: 400px;
    height: 400px;
    background: url('../assets/fondoMov1.png') no-repeat center;
    background-size: cover;
    border: 2px solid black;
    overflow: hidden;
}
.player {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: url('../assets/fijo.png') no-repeat center;
    background-size: contain;
    transition: bottom 0.2s ease-out;
}
.bullet {
    width: 8px;
    height: 8px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
}
